.button {
    background-color: rgb(13, 62, 77);
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    //display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: -1%;
  }

.button3 {border-radius: 8px;}

button:hover {
    background-color: rgb(19, 93, 116);
  }


.rainbow-text {
    background-image: linear-gradient(to left, rgb(161, 8, 161), indigo, rgb(187, 23, 151), rgb(15, 156, 238), orange, red);   -webkit-background-clip: text;
    color: transparent;
  }

.bg-color {
    background-color: green;
    color: transparent;
  }